@media (max-width: 479px) {

    .slider .slick-slider.slider-for {
        width: 310px;
        height: 458px;    
    }
    .slider .slider-slide {
        width: 310px !important;
        height: auto;        
    }
    .slider .slick-list {
        width: 310px;
        margin-right: 20px;
    }
    .slider .slick-prev {
        left: 10px;
    }
    .slider .slick-next {
        right: 10px;
    }
    .header_name {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 0px;
        margin-top: 8px;
        padding-bottom: 0px;
    }
    .slider .slick-list.draggable {
        padding: 0 !important;
    }
    .info_items {
        margin-top: 0;
    }
    .right_block {
        margin-top: 0;
    }
    header::after {
        top: -20px;
        height: calc(100% + 30px);
    }
    .slider .slider-slide img {
        border-radius: 10px;
    }
    .info_item-date {
        font-size: 15px;
    }
    .info_item:first-child .info_item-date:before {
        width: 30px;
        right: -25px;
    }
    .first-section_text,
    .first-section_info.nc2 .first-section_text {
        font-size: 14px;
    }
    .first_slider-item {
        min-height: 250px;
    }
    .text_block p {
        margin-bottom: 10px;
    }
    .title {
        font-size: 18px;
        margin-bottom: 6px;
    }
    .reward_item {
        margin-bottom: 25px;
        flex-direction: column;
    }
    .reward_item-img {
        margin: 0 auto 15px;
    }
    .reward_item-title {
        font-size: 17px;
    }
    .reward_item-info {
        margin-left: 0px;
    }    
    .modal_title {
        font-size: 20px;
        line-height: 28px;
    }
    .modal {
        padding: 30px 20px;
    }
    .modal_img {
        margin-bottom: 12px;
        border: 3px solid #F8F2E8;
    }
    .modal_text {
        text-indent: 20px;
        font-size: 14px;
    }
    .modal.fancybox__content>.carousel__button.is-close {
        right: 15px;
        top: 15px;
    }
    footer {
        margin-top: 50px;
    }

    

    
}
