@media print, (max-width: 767px) {
    
    header nav {
        flex-wrap: wrap;   
        margin-bottom: 0;    
    }
    header nav > * {
        margin-left: 20px;
        margin-bottom: 10px;
        width: calc(100%/2 - 20px);
    }
    header nav .item {
        margin-right: 0;
    }
    header nav .item a {
        width: 100%;
    }
    .left_block {
        margin: 205px auto 0;
        padding-top: 15px;
    }
    .modal {
        padding: 40px 30px;
    }
    .modal_text {
        margin-bottom: 20px;
    }
    .header_name {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 23px;
        margin-top: 11px;
        padding-bottom: 10px;
    }
    .patent_item {
        margin-bottom: 45px;        
    }
    .patent_item:last-child {
        margin-bottom: 0px;        
    }

    
    

}
