@media print, (max-width: 1023px) {

    .left_block {
        position: relative;
        margin-right: 0;
        margin: 165px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main {
        flex-direction: column;
    }
    .right_block {
        width: 100%;
        margin-left: 0px;
    }
    header {
        top: 20px;
        width: 100%;
        right: 20px;
        left: 0px;
    }
    header nav {
        justify-content: end;
        margin-right: 20px;
    }
    .header_name {
        text-align: center;
    }
    .slider .slick-slider.slider-nav .slick-list {
        margin-right: 0;
    }
    .info_items {
        margin-top: 20px;
    }
    .first-section_info {
        margin-bottom: 45px;
        margin-top: 20px;
    }
    .first-section_info.nc2 .first-section_text {
        font-size: 16px;
        line-height: 24px;
    }
    .first-section_text, .first-section_info.nc2 .first-section_text {
        font-size: 15px;
        line-height: 24px;
    }
    .first_slider-item_title br {
        display: none;
    }
    .first_slider-item {
        min-height: 260px;
    }
    .title {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .block {
        margin-bottom: 40px;
    }
    .first-section_title {
        margin-bottom: 15px;
        font-size: 18px;
    }
    footer {
        margin-top: 80px;
    }
    .patent_item-wrap > * {
        margin-left: 15px;
    }
    .patent_item-text {
        margin-bottom: 8px;
        line-height: 1.5;
    }
    .patent_item-title {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 25px;
        margin-top: 20px;
    }
    .footer_text {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 8px;
    }
    .first-section_info.nc2 .first-section_text {
        width: 100%;
    }
    

 




   
}
