/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #F5F5F5;
    --scroll_width: 17px;
    --text_color: #333;
    --font_size: 16px;
    --font_size_title: 24px;
    --font_family: 'Noto Serif', sans-serif;
}


::selection
{
    color: #fff;

    background: #de041d;
}

::-moz-selection
{
    color: #fff;

    background: #de041d;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}
/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);
    /* background: linear-gradient(180deg, rgba(239, 232, 219, 0) -3.48%, #EFE8DB 89.24%);     */
    background: #EFE8DB;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;
}


.main
{
    flex: 1 0 auto;
    display: flex;
    max-width: 1920px;
    width: 100%;
    padding: 0 48px;
    margin: 0 auto;
}


.cont
{
    width: 100%;
    max-width: 888px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}




body {
    background: url(../images/bg2.jpg), #EFE8DB;
    background-position: center top;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.body_img {
    position: fixed;
    width: 222px;
    height: 121px;
    top: 0;
    right: 0;
    z-index: 21;
}
.slider .slider-slide {
    width: 680px;
    height: 760px;
}
.slider .slider-slide img {
    height: 100%;
    border-radius: 20px;
    display: block;
    object-fit: cover;
}
.slider .slider-nav {
    margin-top: -143px;
}
.slider .slider-thumbs {
    width: 103px;
    height: 103px;
    cursor: pointer;
}
.slider .slick-next {
    right: 27px;
    width: 38px;
    height: 21px;
    top: 40%;
}
.slider .slick-prev {
    left: 27px;
    z-index: 2;
    width: 38px;
    height: 21px; 
    top: 40%;   
}
.slider .slick-prev:before, 
.slider .slick-next:before {
    font-size: 37px;
}
.slider .slider-nav .slick-slide {
    padding: 0 4px;
}
.slider .slider-slide {
    position: relative;
}
.slider .slider-slide::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 155px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 9;
    border-radius: 20px;
} 
.slider .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slider .slider-thumbs img {
    width: 100%;
    height: 100%;   
    object-fit: cover;
    display: block;
    border-radius: 5px;
}
.slider .slick-current .slider-thumbs {
    border: 2px solid #EFE8DB;
    border-radius: 5px;
}



.info_items {
    display: flex;
    justify-content: space-between;
    width: 528px;
    margin-top: 59px;
}

.info_item-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.8); 
    margin-bottom: 6px;
}
.info_item-date {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 8px;
}
.info_item:first-child .info_item-date:before {
    position: absolute;
    content: "";
    width: 149px;
    height: 1px;
    background: #595755;
    right: -183px;
    top: 50%;
    transform: translateY(-50%);
}
.info_item-adress {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(51, 51, 51, 0.8);
}


/*------------
    Header
------------*/
.left_block {
    margin-right: 100px;
    padding-top: 28px;
    width: 680px;
    position: fixed;
}
.right_block {
    padding-top: 28px;
    width: calc(100% - 780px);
    margin-left: 780px;
    z-index: 20;
}
header {
    position: fixed;
    z-index: 17;

}
header::after {
    position: absolute;
    content: "";
    background-blend-mode: multiply;
    backdrop-filter: blur(16px);
    top: -28px;
    left: -80px;
    width: calc(100% + 700px);
    height: 100%;
    z-index: -14;
}
header nav {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
header nav .item {    
    border-radius: 4px;
    margin-right: 12px;    
}
header nav .item a {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #333333; 
    text-decoration: none; 
    font-family: 'Noto Serif';
    padding: 9px 16px;
    background: #F8F3E6;
    display: block;
    transition: all .4s;
}
header nav .item a:hover {
    background: #fbf0d3;
}
.header_name {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #333333; 
    margin-bottom: 28px;  
    margin-top: 24px;
    padding-bottom: 28px;
}


/* first-section */
.block {
    margin-bottom: 80px;
}
.first-section_info {
    margin-bottom: 29px;
    position: relative;
    margin-top: 172px;
}
.first-section_info.nc2 {
    margin-top: 0;
}
.first-section_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #333333; 
    margin-bottom: 12px;
}
.first-section_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 1px;
}
.first-section_info.nc2 .first-section_text {
    width: calc(100% - 310px);
}
.first-section_link {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-decoration-line: underline;
    color: rgba(51, 51, 51, 0.8);
}
.first-section_img {
    position: absolute;
    right: 0;
    top: 0;
}
.first-section_slider .slick-slider .slick-list {
    margin: 0 -16px;
}
.first-section_slider .slick-slide {
    padding: 0 16px;    
}
.first-section_slider-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.first_slider-items {
    display: flex;
}
.first_slider-item {
    display: flex !important;
    flex-direction: column;
    padding: 14px 16px 24px;
    background: linear-gradient(0deg, rgba(255, 184, 0, 0.04), rgba(255, 184, 0, 0.04)), linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%), #EFE8DB;
    border-radius: 12px;
    min-height: 280px;
    height: 100%;
}
.first_slider-item_img.mt {
    margin-top: -14px;
}
.first_slider-item_img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}
.first_slider-item_img img {
    width: 100%;
    height: 100%;
}
.slider-arrows img {
    cursor: pointer;
}
.slider-arrows img:first-child {
    margin-right: 13px;
}
.first_slider-item_info {
    margin-top: auto;
}
.first_slider-item_title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333; 
    margin-bottom: 8px;
}
.first_slider-item_date {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #333333; 
}


/* biography */
.biography {
    max-width: 761px;
}
.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 24px;
}
.text_block {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}
.text_block p {
    margin-bottom: 15px;
}
.text_block p:last-child {
    margin-bottom: 0;
}


/* route */
.route {
    max-width: 764px;
}
.route_map {
    margin-bottom: 24px;
}
.route_map img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* reward */
.reward {
    max-width: 764px;
}
.reward_item {
    display: flex;    
    margin-bottom: 40px;
}
.reward_item:last-child {
    margin-bottom: 0;
}
.reward_item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 172px;
    height: 172px;
    background: linear-gradient(0deg, rgba(255, 184, 0, 0.04), rgba(255, 184, 0, 0.04)), linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%), #EFE8DB;
    border-radius: 12px; 
    flex-shrink: 0;   
}
.reward_item-img img {
    width: 100%;
}
.reward_item-info {
    margin-left: 24px;
}
.reward_item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;  
    margin-bottom: 16px;
}
.reward_item-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}
.reward_item-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}
.reward_item-author {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}
.reward_item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-decoration-line: underline;
    color: rgba(51, 51, 51, 0.8);
    margin-top: 16px;
    display: block;
}


/* patent */
.patent {
    max-width: 764px;
}
.patent_item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin-top: 40px;
}
.patent_item-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 24px;
}
.patent_item-wrap {
    display: flex;
    margin-left: -23px;
}
.patent_item-wrap > * {
    margin-left: 23px;
    width: calc(100%/3 - 23px);
}
.patent_item-img {
    width: 232px;
    height: auto;
}
.patent_item-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.fancybox__container.is-animated[aria-hidden=false] .fancybox__thumbs {
    display: none;
}


footer {
    margin-top: 107px;
}
.footer_text {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-bottom: 14px;
}


.modal {
    padding: 60px 60px 72px;
    max-width: 720px;
    width: 100%;
    background: url(../images/bg.png);
    border-radius: 16px;
    display: none;
}
.modal_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333; 
    margin-bottom: 4px;
}
.modal_date {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333333; 
    margin-bottom: 20px;
}
.modal_img {
    margin-bottom: 24px;
    border: 8px solid #F8F2E8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}
.modal_img img {
    width: 100%;
}
.modal_text {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-indent: 40px;
    color: #333333;
    margin-bottom: 48px;
}
.modal_text p {
    margin-bottom: 20px;
}
.modal_text p:last-child {
    margin-bottom: 0;
}
.modal_link {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-decoration-line: underline;
    color: rgba(51, 51, 51, 0.8);
}
.modal.fancybox__content>.carousel__button.is-close {
    position: absolute;
    top: 32px;
    right: 32px;
    color: var(--fancybox-color, #333);
}
.modal_link:focus {
    display: none;
}



.audio_button {
    position: absolute;
    right: 48px;
    top: 830px;
    cursor: pointer;
    z-index: 25;
}



.button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 3px solid #333;
}
.button--play {
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 25;
}
.button--play .button__shape {
    width: 11px;
    height: 36px;
    background: #333;
    transition: 0.3s ease-in-out;
}
.button--play .button__shape--one {
    -webkit-clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
    transform: translateX(5px);
}
.button--play .button__shape--two {
    -webkit-clip-path: polygon(0 25%, 100% 50%, 100% 50%, 0 75%);
    transform: translateX(4.9px);
}
.button--play.button--active .button__shape--one {
    -webkit-clip-path: polygon(0 15%, 50% 15%, 50% 85%, 0% 85%);
    transform: translateX(0px);
}
.button--play.button--active .button__shape--two {
    -webkit-clip-path: polygon(50% 15%, 100% 15%, 100% 85%, 50% 85%);
    transform: translateX(0px);
}